.myCard {
    width: 16rem;
    margin-bottom: 1.5rem;
    font-weight: 300;
    background-color: #203541;
    border: none;
}

.myCardImg {
    width: 75%;
    margin: 0 auto;
    padding: 1rem;
}

.myCardButton {
    font-weight: 300;
}

@media only screen and (max-width:576px) {
    .myCard {
        width: 20rem;
    }

    .myCardImg {
        width: 40%;
        padding-top: 1.5rem;
    }
}