* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather Sans', sans-serif;
}

.root {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #010101ef 50%, #222831 100%);
}

.nav_brand {
  padding: .5rem 1rem;
  border-radius: 4px;
}

.navigation {
  font-weight: 300;
}

.navigation-bar {
  background-color: #0f1021;
}

.main {
  background-image: linear-gradient(to bottom, #0f1021, #0f10219c), url("./images/1401210.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  z-index: 10;
  min-height: 100vh;
}

.footer {
  background-color: #0b0b0d;
  padding: 2rem;
  text-align: center;
  color: whitesmoke;
  font-weight: lighter;
}

.brand-logo {
  height: 2.5rem;
  padding-bottom: .22rem;
}