* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather Sans', sans-serif;
}

.root {
  min-height: 100vh;
}

.nav_brand {
  border: 1px solid whitesmoke;
  padding: .5rem 1rem;
  border-radius: 4px;
}

.navigation {
  font-weight: 300;
}