.team_details {
    min-height: 100vh;
}

.banner_card {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
    border: none;
}

.banner_image {
    height: 21rem;
    opacity: .25;
}

.banner_card_img {
    height: 50%;
}

.team_box {
    padding: 1rem 1rem 1rem 2rem;
    margin-top: 1.5rem;
    border-radius: 7px;
    background-color: #233142;
}

.team_box h6 {
    padding-bottom: .1rem;
}

.team_image {
    height: 12rem;
}

.team_description {
    border-radius: 7px;
    font-weight: 300;
    background-color: #141829;
}

.social_link {
    width: 65%;
}

.social_logo {
    height: 3rem;
}

.spinner {
    height: 95vh;
}

@media only screen and (max-width:1200px) {

    .team_box,
    .team_description {
        width: 95%;
    }

}

@media only screen and (max-width:576px) {
    .team_box {
        padding: 1rem;
    }

    .team_image {
        height: 12rem;
        padding: .5rem;
    }
}